/bin
/.vs/Gator/v14
/GatorWin32/ipch/gatorwin32-f5ed6203
/GatorWin32/GatorWin32.aps
/GatorWin32/GatorWin32.v14.suo
/_int
/Gator.opensdf
/Gator.sdf
/Gator.VC.opendb
/GatorCook/GatorCook.vcxproj.user
/ipch/GATORWIN32-e5cfea03
/Gator/meshes
/Gator/atlases
/Gator/textures
/Gator/cook
/Gator/models
/Gator/log.txt
/Gator/stat.txt
/Gator/user.txt
/Gator/config.txt
/Gator/bindings.txt
/Gator/tilesets
/Gator2
/Gator/testsolo
/Gator/testserver
/Gator/testclient
/Gator/startup.txt
